<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Physician Map</title>
    <meta name="description" content="Surgeon Finder">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css?v={{ now() }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css"
          integrity="sha256-BbA16MRVnPLkcJWY/l5MsqhyOIQr7OpgUAkYkKVvYco=" crossorigin="anonymous"/>

</head>

<body class="content">
<nav class="navbar navbar-light bg-light">
    <img id="map_img" src="static/img/map.png" alt="">
    <span class="navbar-brand mb-0 h1">
                <img id="logo" src="static/img/sm_logo.png" alt="">
                
                <span class="navbar-brand-title">
                    <a href="/">MohsMap</a>
                </span>  
                
                <span class="header-title">
                    Find a Fellowship-trained Mohs Surgeon
                </span> 

            </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-lg fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">Search <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/why_acms">Why an ACMS Surgeon</a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" href="/">Saved Surgeons</a>
            </li> -->

            <li class="nav-item active">
                <a class="nav-link" href="/about_us">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/tos">Terms Of Service</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid detail-page-container">
    <div class="row">
        <div class="col-12 text-left">
            <div class="detail-page-title">ABOUT US</div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12">
            <div class="mohsmap-title">
                <h3>MohsMap*</h3>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-12">
            <div class="page-detail-content">
                MohsMap* was created to provide patients and referring physicians around the world with a tool to find
                fellowship-trained Mohs micrographic surgeons in their area. Please see our Terms of Service for more
                details.
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
