<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Physician Map</title>
        <meta name="description" content="Surgeon Finder">
        <meta name="author" content="SitePoint">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/index.css?v={{ now() }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css" integrity="sha256-BbA16MRVnPLkcJWY/l5MsqhyOIQr7OpgUAkYkKVvYco=" crossorigin="anonymous" />

    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <img id="map_img" src="static/img/map.png" alt="">
            <span class="navbar-brand mb-0 h1">
                <img id="logo" src="static/img/sm_logo.png" alt="">
                
                <span class="navbar-brand-title">
                    MohsMap
                </span>  
                
                <span class="header-title d-none d-sm-inline">
                    Find a fellowship-trained Mohs Surgeon
                </span> 
            </span>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-lg fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/">Search <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/why_acms">Why an ACMS Surgeon</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/">Saved Surgeons</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact_us">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/tos">Terms Of Service</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="search-bar form-control">
            <div class="container-fluid search-container">
                <div class="row">

                    <div class="col-xs-12 col-md-8">
                        <input id="search" type="text" class="form-control" placeholder="Enter name, city or zip">
                    </div>

                    <div class="col-xs-6 col-md-2">
                        <button class="btn" onclick="search()">Search</button>
                    </div>

                    <div class="col-xs-6 col-md-2">
                        <button class="btn" onclick="reset(1)">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="results-container">
            <div class="container-fluid">
               
            </div>
        </div>

        <div id="map"></div>

        <div class="modal fade" id="multiple-surgeon-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Please select a surgeon</h4>
                        <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary modal-close-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="loading-overlay">
            <div class="overlay-background"></div>
            <div class="loading-element">
                <div>Creating Map...</div>
                <div>
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
<!--        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">-->
<!--        </script>-->
        <script>
            (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
                key: "AIzaSyCljtMXPyHrw1rwtB7ZbE07CSP_etHhrqo",
                v: "weekly",
                // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
                // Add other bootstrap parameters as needed, using camel case.
            });
        </script>

        <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD49xbDqBWMU0LL4LUfjVolWsUdPP_Ym0E&callback=initMap" async="" defer=""></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
        <script src="static/js/index.js?v={{ now() }}"></script>
    </body>

</html>